/* app */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgba(28, 28, 28);
  
}

.random {
  color: #A3A9AA;
  color: #C3FDD6;
  color: #769392;
  color: #0B132B;
  color: #6c7957;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  color: #DFDFE1;
  border-top: 1px solid black;
}

body::-webkit-scrollbar {
  width: 2px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  color: rgba(53, 56, 48, 0.9);
  -webkit-text-stroke: 1px #A3A9AA;
  padding-right: 2em;
}

.nav {
  height: 75%;
}

/* homepage */
.homepage {
  background-image: url("../images/header-img.jpg");
  padding: 7rem;
}

.home-back {
  background-color: rgb(65, 68, 61, .9);
  text-align: center;
}

.title {
  color: rgba(53, 56, 48, 0.9);
  -webkit-text-stroke: 1px #A3A9AA;
  font-size: 4em;
}

p {
  color: #DFDFE1;
  padding: 1rem;
  text-align: left;
}

h3 {
  text-align: left;
  padding-left: 1em;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
  background-color: rgba(53, 56, 48, 0.9);
}

.car-img {
  padding: 10px;
  width: 350px;
  height: 510px;
}

div::-webkit-scrollbar {
  width: 2px;
}
 
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.button {
  background-color: #04AA6D;
  border: none;
  color: #C3FDD6;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn {
  margin: 20px;
}

/* bookspage */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
  padding: 15px;
}
.card {
  width: 18rem;
  background-color: rgba(53, 56, 48, 0.9);
  text-align: left;
  color: #DFDFE1;
  padding: 5px;
}

.book-header {
  color: #A3A9AA;
  background-color: rgb(65, 68, 61, .9);
  border-top: 15px solid rgba(28 ,28, 28);
}

#books-p {
  text-align: center;
  border-top: 1px solid #DFDFE1;
}

.del-btn {
  background-color: inherit;
  border: solid 2px #DFDFE1;
  color: #DFDFE1;
}

/* authors */
.author-card {
  display: flex;
  flex-direction: column;
  gap: 20px 30px;
  padding: 20px;
}

/* form */
label {
  color: #DFDFE1;
}

input {
  width: 100%;
}
.form {
  background-color: rgb(65, 68, 61, .9);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 20px;
}
