body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #DFDFE1;
  
}

.random {
  color: #A3A9AA;
  color: #C3FDD6;
  color: #769392;
  color: #0B132B;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  text-align: left;
}

/* homepage */
.homepage {
  background-image: url("./images/header-img.jpg");
  padding: 7rem;
}

.title {
  background-color: rgb(11, 19, 43, .9);
  width: 35%;
  color: #0B132B;
  -webkit-text-stroke: 1px #A3A9AA;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
  background-color: rgb(11, 19, 43, .9);
}

.car-img {
  padding: 10px;
  width: 350px;
  height: 510px;
}
  
/* .cover-image {
  position: relative;
  width: 300px;     
  height: 300px;
  overflow: hidden;
} */

.button {
  color: #C3FDD6;
}
 /* img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 50%;     
    left: 50%;
    transform: translate( -50%, -50%);
}
 img.landscape {
   height: 100%;
   width: auto;
} */

/* bookspage */
.card {
  width: 18rem;
  display: flex;
  flex-wrap: wrap;
}

/* .book-container {

} */

/* .card-body {
  border-top: 20px solid #DFDFE1;
  border-left: 35px solid #DFDFE1;
} */

div::-webkit-scrollbar {
  width: 2px;
}
 
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}